* {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: #4e5766;
}

body, html { 
    margin: 0;
    padding:0;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: 1vh;
    padding-left: 5vw;
    justify-content: left;
    font-size: 6vw;
    color: white;

    text-shadow:0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}

.parallax::after {
    content: " ";
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: -10px;
    transform: translateZ(-1px) scale(2);
    background-size: cover;
    z-index: -1;
    background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-position: 50% 30%;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center !important;
}

li {
    padding: 0px 15px 0px 15px;
    text-align: center;
    float: left;
    align-items: center !important;
}

ul a {
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: block;
    color: #262626 !important;
    text-align: center;
    text-decoration: none;
    border-radius: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

ul a:hover:not(.active) {
    border-radius: 500px;
    background-color: #0E655D !important;
    color: white !important;
}	

.active {
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 500px;
    color: white !important;
    background-color: #0E655D !important;
}

.primary {
    transition: 0.2s;
    border-radius: 500px;
    color: white;
    background-color: #1D439C;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    border: 2px solid #1D439C;
}

.primary:hover {
    transition: 0.2s;
    border-radius: 500px;
    color: #1D439C;
    background-color: white;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    border: 2px solid #1D439C;
}

.primary2 {
    transition: 0.2s;
    border-radius: 3px;
    color: white;
    background-color: #1D439C;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    border: 2px solid #1D439C;
}

.primary2:hover {
    transition: 0.2s;
    border-radius: 3px;
    color: #1D439C;
    background-color: white;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    border: 2px solid #1D439C;
}

.white {
    transition: 0.5s;
    border-radius: 500px;
    color: gray;
    background-color: white;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    border: 2px solid gray;
}

.white:hover {
    transition: 0.5s;
    border-radius: 500px;
    color: black;
    background-color: white;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    border: 2px solid black;
}

.parallax-container {
    height: 200px;
}

#wrapper2 {
    perspective: 1px;
    background-color: white;
}

.content_div{
    padding: 20px 235px 0px 150px;
}

.boxmain_shadow{
    border-radius: 10px;
    padding: 30px 40px;
    border: 1px solid #0E655D;
}

#service_line{
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}

#ordercard{
    float: left;
    margin-bottom: 30px;
}

#orderqty{
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #35C6B5;
    color: white;
    padding-top: 5px;
}

#plan_card{
    overflow: hidden;
    position: relative;
    background-color: blue;
    width: 200px;
    height: 300px;
    margin-right: 10px;
}

#plan_card_bg{
    transition: 0.5s;
    position: absolute;
    margin: 0px;
    background-position: center;
    background-repeat:no-repeat;
    background-color: #fff;
    background-size: cover;
    height: 100%;
    width: 100%;
    transform: scale(1, 1);
}

#plan_card:hover #plan_card_bg{
    transform: scale(1.05, 1.05);
}

#card{
    transition: 0.5s;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 225px;
    padding: 10px 20px;
    text-align: left;
    background-color: white;
}

#card a{
    transition: 0.2s;
    font-size: 13px;
    color: gray !important;
}

#card a:hover{
    transition: 0.2s;
    font-size: 13px;
    color: black !important;
}

#plan_card:hover #card{
    transition: 0.5s;
    top: 0;
}	

.main_article{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    height: 98%;
    text-align: center;
    font-size: 20px;
    background-color: white;
    color: #4e5766;
    overflow: hidden;
    transition: 0.5s;
}

.main_article:hover{
    transition: 0.5s;
    transform: scale(1.01, 1.01);
}

#ma_text{
    padding: 50px;
    text-align: left;
}

.sub_article{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    height: 140px;
    text-align: left;
    font-size: 20px;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;
}

.sub_article:hover{
    transition: 0.5s;
    transform: scale(1.01, 1.01);
}

#footer{
    background: linear-gradient( rgba(255, 255, 255, 2), rgba(100, 0, 0, 0.1) );
    padding: 40px 100px 40px 100px;
    height: auto;
    font-size: 14px;
}

#footer a{
    text-decoration: none;
    color: black !important;
}

.head {
    margin-left: 10%;
    margin-top: 30px;
}

#cart{
    padding: 10px 0px;
    font-size: 20px;
}

.order_button{
    margin: auto;
    margin-top: 30px;
    background: #0E655D !important;
    color: white;
    padding: 10px 50px;
    border-radius: 250px;
    border: 2px solid #0E655D;
    font-size: 25px;
    transition: 0.2s;
}

.order_button:hover{
    background: white !important;
    color: #0E655D;
    border: 2px solid #0E655D;
    transition: 0.2s;
}

#checker{
    display: block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
      position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    position: absolute;
    right: 40px;
    top: 30px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }